@using Parcial2_ap2.BLL;
@using Parcial2_ap2.Models;
@using Blazored.Toast;
@using Blazored.Toast.Services;


@inject IToastService toast
@inject NavigationManager Nav
@inject IJSRuntime Confirmacion
<div class="card">
    <div class="card-header">
        <h1>Consulta de ventas</h1>
    </div>

    <div class="card-body">

        <div class="form-row mb-2 mt-2">
            <label style="font-size: 22px">&nbsp;Filtrar por:</label>
            <label style="font-size: 22px">&nbsp;;Criterio:</label>
        </div>
        <div class="form-row mb-3 mt-3">

            <div class="col-sm-2">
                <select @bind="Index" class="custom-select">
                    <option value="-1" disabled>Seleccionar opción</option>
                    <option value="0">Todo</option>
                    <option value="1">Venta Id</option>


                </select>
            </div>

         
            <div class="col-sm-8">
                <input class="form-control w-100" type="@(Index == 1 ? "number" : "text")" @bind-value="Criterio" placeholder="Ingrese el criterio a filtrar para obtener la o las ventas" />
            </div>

      
            <div class="col-sm-2">
                <button class="btn btn-primary" @onclick="Buscar"><i class="oi oi-magnifying-glass" /> Filtrar</button>
            </div>
        </div>

        @if (ListaVentas == null)
        {
            <div class="form-group">
                <h2>No Posee datos... Agregar ventas.</h2>
            </div>
        }
        else
        {
        
            <div class="form-group">
                <table class="table">
                    <thead>
                        <tr>
                            <th>venta Id</th>
                            <th>Fecha</th>
                            <th>Cliente Id</th>
                            <th>Monto</th>
                            <th>Balance</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var cont in ListaVentas)
                        {
                            <tr>
                                <td>@cont.VentasId</td>
                                <td>@cont.Fecha</td>
                                <td>@cont.ClienteId</td>
                                <td>@cont.Monto</td>
                                <td>@cont.Balance</td>
                                <td>
                                 
                                   
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        }
    </div>
</div>


@code {
    public int Index = -1;
    public string Criterio = string.Empty;
    List<Ventas> ListaVentas = new List<Ventas>();

    protected override void OnInitialized()
    {
        Actualizar();
    }
    public void Actualizar()
    {
        ListaVentas = VentasBLL.GetList(e => true);
    }

    void Buscar()
    {
        if (Index == 0)
        {
            ListaVentas = VentasBLL.GetList(p => true).ToList();
        }


        else if (Index == 1)
        {
            if (int.TryParse(Criterio, out int VentaId))
            {
                ListaVentas = VentasBLL.GetList(p => p.VentasId == VentaId).ToList();
            }
        }

    }
}
}





